#dropTitle {
    font-size: 23px;
    color:rgb(0, 0, 200);
}

h1 {
    color: rgb(31, 126, 31);
    position:absolute;
    right: 300px;
    z-index:1;
    top:-20px;
}

button {
    font-family: 'Dosis', sans-serif;
}

#countyDropdown button {
    margin: 1px;
    padding: 1px;
    background-color: rgb(31, 126, 31);
    margin-right: 30px;
    color: white;
    align-self:center;
    width: 215px;
    height: 25px;
}

.dropDownItems {
    border: 1px black solid;
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.dropDownItems:hover {
    background-color: rgb(31, 126, 31);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.dropDownItems:active {
    background-color: orangered;
}

#nav button:disabled {
    color: grey;
    background-color: black;
}

#controls button:disabled {
    color: grey;
    background-color: black;
}

body {
    background-color: lightgreen;
    font-family: 'Dosis', sans-serif;
}

#countyGuessButton:disabled {
    color: grey;
    background-color: black;
}

#countyCancelButton:disabled {
    color: grey;
    background-color: black;
}

#start {
    background-color: rgb(31, 126, 31);
}

#guess {
    background-color: rgb(0, 0, 200);
}

#quit {
    background-color: orangered;
}

body {
    font-size: 20px;
}

#controls button {
    width: 120px;
    font-size: 20px;
    color: white;
}

#controls {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 350px;
    z-index: 3;
    margin-left:100px;
    margin-bottom: 10px;
    margin-top: 10px;

}

#infoWrapper {
    display: flex;
    flex-direction: column;
    float:left;
    align-items: center;
    border: solid black 2px;
    width: 300px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    margin:20px;
}

#nav {
    margin-left: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    height:150px;
    width:280px;
}

#nav button {
    height: 50px;
    width: 75px;
    font-size: 14px;
    background-color: rgb(31, 126, 31);
    color: white;
}

#map {
    height: 400px;
    width: 60%;
    z-index: 0;
    margin: auto;
    margin-top: 20px;
}

#countyDropdown {
    display: none;
}

#alert {
    display: none;
    background-color: orangered;
    z-index: 1;
    padding: 10px;
    color: white;
    border: solid 2px black;
    z-index: 4;
}

#alert button {
    width: 100;
    height: 30;
    background-color: rgb(0, 0, 200);
    color: white;
    font-size: 15px; 
    margin-right: 10px;
}

#score {
    text-align: center;
}

#north {
    position: relative;
    top:-50px;
    left:100px;
}

#south {
    position: relative;
    top: -40px;
    left: 100px;
}

#east {
    position: relative;
    top: -25px;
    left: 25px;
}

#west {
    position: relative;
    top: -25px;
    left: -65px;
}

#county {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
}
#nav p {
    text-align: center;
    position:relative;
    top:-20px;
}

#zoomOut {
    position:relative;
    top: -30px;
    left: 115px;
    z-index: 2;
    background-color: white;
}

table {
    margin:10px auto;
    padding: 5px;

}

tr, td, th {
    padding: 5px;
}

tbody tr:nth-child(even) {
    background-color: rgb(31, 126, 31);
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: rgb(0, 0, 200);
    color: white;
}

thead tr {
    background-color: gold;
    height: 2em;
}

td:first-child {
    font-weight: bold;
}
td {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#highscoreTable {
    height: 450px;
    overflow: auto;
}
#leaderboardButtonWrapper {
    display:flex;
    flex-direction: row;
}

#leaderboardButtonWrapper button {
    width:150px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
}
#clearScores {
    background-color: orangered !important;
}
#leaderboard-button {
    margin: 1px;
    padding: 1px;
    background-color: rgb(0, 0, 200);
    color: white;
    align-self:center;
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-left: 20px;
}
.leaflet-interactive {
    cursor: help !important;
}
.leaflet-container {
    cursor: help !important;
}

@media (min-width: 1260px) {
    #infoWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        border: solid black 2px;
        width: 300px;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    #controls {
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 350px;
        z-index: 3;
        padding: 0 50px 20px 50px;
    
    }
    
    #nav {
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid black;
        height:170px;
        width:280px;
        margin-left:670px;
    }
    
    #nav button {
        height: 50px;
        width: 75px;
        font-size: 14px;
        background-color: rgb(31, 126, 31);
        color: white;
    }
    
    #map {
        height: 500px;
        width: 600px;
        float: left;
        z-index: 0;
        margin-left: 20px;
        margin-top: 20px;
    }
    
    #alert {
        display: none;
        background-color: orangered;
        position: relative;
        top: 10px;
        right: 290px;
        z-index: 1;
        padding: 10px;
        color: white;
        border: solid 2px black;
        z-index: 4;
    }
    
    #alert button {
        width: 100;
        height: 30;
        background-color: rgb(0, 0, 200);
        color: white;
        font-size: 15px; 
        margin-right: 10px;
    }
    
    #score {
        text-align: center;
    }
    
    #north {
        position: relative;
        top:-35px;
        left:100px;
    }
    
    #south {
        position: relative;
        top: -20px;
        left: 100px;
    }
    
    #east {
        position: relative;
        top: -10px;
        left: 30px;
    }
    
    #west {
        position: relative;
        top: -5px;
        left: -65px;
    }
    
    #county {
        text-align: center;
    }
    #nav p {
        text-align: center;
        position: relative;
        top: -10px;
    }
    
    #zoomOut {
        position: relative;
        top: -10px;
        left: 120px;
        z-index: 2;
        background-color: white;
    }
}